@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* -------------------------------------------------------------------------------------- */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    padding: var(--padding-container);
}

/* -------------------------------------------------------------------------------------- */

.nav__logo__texto{
    display: inline-block;
    vertical-align:top;
    margin-top: 6px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.nav{
    --padding-container: 0;
    height: 100%;
    align-items: center;
    display: flex;

}

.nav__items{
    display: inline-block;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

/* -------------------------------------------------------------------------------------- */

.about__container{
    display: flex;
    justify-content: space-between;
    background-color: #FFF0D9;
    width: 1200px;
    height: 500px;
}

.about_texts{
    height: 300px;
    margin-left: 30px;
}

.about_texts_titulo p{
    font-family: "Playfair Display", system-ui;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 30px;
    }


.about_texts_cuerpo p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
    width: 350px;
    line-height: 1.5;
}

.about_foto{
    width: 469px;
    height: 399px;
    margin-right: 50px;
}

/* -------------------------------------------------------------------------------------- */

.info{
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */

.footer{
    background-color: black;
    height: 450px;
}

.footertext{
    color: #FFFFFF;
}

.footer__icono{
    position: absolute;
    display: inline-block;
    padding-left: 1000px;
}