@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    height: 70px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff0d977;
}

.logo {
    display: flex;
    width: 410px;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 65px;
}

.nombre-empresa {
    font-size: 20px;
    width: 300px;
    height: 55px;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.nav-link {
    display: inline;
    font-weight: 600;
    margin-right: 20px;
    color: black;
    padding: 9px 15px;
    border-radius: 15px;
}

#nav-link-contacto {
    color: black;
    background-color: #ff914dcb;

}

.nav-link:hover, #nav-link-contacto:hover {
    background-color: #ff914d70;
}


/*body{
    font-family: "Open Sans", sans-serif; 
}

:root{
    --padding--container: 200px 0;
    --color-title: #001A49;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    padding: var(--padding-container);
}

h1{
    font-family: "Open Sans", sans-serif;

}

.nav__logo__texto{
    display: inline-block;
    vertical-align:top;
    margin-top: 6px;
    font-size: 18px;
}

.hero{
    width : 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.nav{
    --padding-container: 0;
    height: 100%;
    align-items: center;
    display: flex;

}

.nav__items{
    display: inline-block;
}

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: top;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}*/


/*----------------------------------------------------------------------*/


.main-title {
    width: 263px;
    padding: 10px;
    margin: 10px auto;
    font-family: "Playfair Display", serif;
}

.select-menu {
    width: 250px;
    margin: 10px auto;
}

.select-item {
    display: flex;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-item i {
    font-size: 25px;
    transition: 0.5s;
}

.ic_option {
    width: 20px;
    height: 20px;
}

.select-menu.active .select-item i {
    transform: rotate(-180deg);
}

.options {
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.267);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.option {
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 10px;
    align-items: center;
}

.option span {
    margin-left: 10px;
}

.option:hover {
    background: #ff914d70;
}



/*----------------------------------------------------------------------*/

.about__container{
    background-color: #FFF0D9;
    display: grid;
    gap: 1em;
    align-items: center;
}

.about_texts{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.info{
    text-align: center;
}

.about__foto2{
    width: 100%;
    display: block;
    max-width: 500px;
    position: relative;
    margin-left: 700px;
}

.footer{
    background-color: black;
}

.footertext{
    color: #FFFFFF;
}

.footer__icono{
    position: absolute;
    display: inline-block;
    padding-left: 1000px;
}