@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 100svw;
}

.header-container {
    display: flex;
    height: 70px;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff0d977;
}

.logo-container {
    display: flex;
    width: 410px;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 65px;
}

.nombre-empresa {
    font-size: 20px;
    width: 300px;
    height: 55px;
    font-family: "Open Sans", sans-serif;
}

.ic-contactar {
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-link {
    display: inline;
    font-weight: 600;
    margin-right: 20px;
    color: black;
    padding: 9px 18px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}

#nav-link-contacto {
    color: black;
    background-color: #ff914dcb;
}

.nav-link:hover, #nav-link-contacto:hover {
    background-color: #ff914d70;
}

.toggle-btn {
    cursor: pointer;
    display: none;
}

@media (max-width: 1000px) {
    .nav-link, #nav-link-contacto, .ic-contactar {
        display: none;
    }

    .toggle-btn {
        display: block;
    }
}


/* -------------------------------------------------------------------------------------- */

.select-menu {
    display: flex;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.select-menu h2 {
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 15px;
}

.select-item {
    display: flex;
    width: 250px;
    height: 20px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-item i {
    font-size: 25px;
    transition: 0.5s;
}

.ic-option {
    width: 20px;
    height: 20px;
}

.select-menu {
    position: relative;
}

.select-menu.active .select-item i {
    transform: rotate(-180deg);
}

.options {
    /* position: relative; */
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.267);
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    top: calc(100% - 16px);
}

.select-menu.active .options {
    display: flex;
}

.option {
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 10px;
    align-items: center;
}

.option span {
    margin-left: 10px;
}

.option:hover {
    background: #ff914d70;
}

@media (max-width: 1050px) {
    .select-menu.active .options {
        display: flex;
        flex-direction: column;
    }
}



/*----------------------------------------------------------------------*/

.about-container {
    display: flex;
    background-color: #FFF0D9;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.about-item1 {
    width: 500px;
}

.about-titulo p {
    font-family: "Playfair Display", system-ui;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 30px;
}

.about-cuerpo p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
    width: 350px;
    line-height: 1.5;
}

@media (max-width: 1000px) {
    .about-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-item1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .about-cuerpo p {
        margin: 0;
    }

    .about-titulo p {
        margin: 15px 0;
    }
    
}


/*-------------------------------------------------------------------------------------- */

.info {
    text-align: center;
}

/* -------------------------------------------------------------------------------------- */

footer {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    background-color: #000000;
    /* padding: 20px 50px; */
    align-content: flex-start;
    padding: clamp(20px, 10vw, 50px);
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 1500px;
    margin: 0 auto;
}

.footer-info{
    font-family: "Playfair Display", system-ui;
    color: #FFFF;
    width: 100%;
    padding: 0 24px;
    /* margin-left: 152px; */
    /* margin-top: 50px; */
    /* margin-left: 180px; */
}

.footer-info h2{
    margin-bottom: 5px;
}

.contacto{
    font-family: "Open Sans", sans-serif;
    line-height: 3;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.contacto2{
    font-family: "Open Sans", sans-serif;
    display: inline-flex;
    line-height: 2;
    margin-left: 40px;
}